.body{
    padding: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #eae9f2 ;
}

html {
    scroll-behavior: smooth;
}
  
.wrapper{
    display: block;
    max-width: 1900px;
    margin: 0 auto;
}

.main{
    display: block;
    margin: 0 auto;
    
}

.header{
    display: block;
    height: 920px;
    background: url("img/IMG_172011.jpg") no-repeat 50%  50% ;
    margin:8px auto 0 auto;
    border-top:5px solid #4b515c;
    border-bottom:5px solid #4b515c;
}

.header-top{
    display:flex;
    justify-content:space-between;
    min-width: 700px;
    margin: 0 50px 0 50px;
    height: 195px;
    padding: 15px ;
    background-color: rgba(94,101,114,0.7);
    border-top:5px solid #A9B4C2;
    border-bottom:7px solid #4b515c;
}

.footer{
    display:flex;
    min-width: 700px;
    height: 140px;
    justify-content: space-around;
    margin: 0 auto;
    background-color:#5E6572;
}

.container-1,
.container-2{
    display:block;
    min-height: 140px;
    padding:10px;
    text-align: center;
    margin-bottom: 20px;
    border-top:5px solid #4b515c;
    border-bottom:5px solid #4b515c;
}

.container-1{
    min-width: 800px;
    margin: 20px auto 0 auto;
    background-color: #5E6572;
}

.container-2{
    max-width: 880px;
    min-height: 100px;
    margin: 30px auto;
    border-radius: 30px 30px 30px 30px/30px 30px 30px 30px;
    background-color: #5E6572 ;
}

.header-left{
    display: flex;
    justify-content: space-between;
    padding:5px ;
    margin: 0 20px;
    
    
}

.title-container{
    display: inline-block;
   vertical-align: middle;
    text-align: center;
    transition: 1s;
    margin: 35px 20px;
}


.header-right{
    display: inline-block;
}

/* .div{
    display: inline-block;
    min-width: 300px;
} */

.logo-container{
    display: block;
    width: 145px;
    height: 145px;
    padding: 5px;
}

a.logo{
    display: inline-block;
    background-color: #5E6572 ;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
    padding: 0;
    height: 140px;
    width: 140px;
    font-size: 1em;
    font-weight: normal;
}

.logo svg{
    position: absolute;
    transform: scale(0.55);
    top: -37px;
    left: -37px;
    border:5px solid #e9a85d;
    border-radius: 50%;
  /*   height: 160px;
    width: 160px; */
}

a.logo:first-child svg{
    opacity: 0.8;
    transition: 0.5s;
}

a:hover.logo{
    background-color: #4b515c;
}

a:hover.logo:first-child svg{
    transform: scale(0.62) rotate(560deg);
    opacity: 0.35;
   
    padding: 3px;
    
}

a.logo svg a:nth-child(1){
    transform: scale(0.15) skew(15deg) rotate(-60deg);
}

a:hover.logo svg:nth-child(1){
    transform: scale(0.47) skew(-15deg) rotate(390deg);
    opacity: 0.5;
}


a.logo svg:nth-child(3){
    transform: scale(0.15) skew(15deg) rotate(-60deg);
}

a:hover.logo svg:nth-child(3){
    transform: scale(0.47) skew(-15deg) rotate(-390deg);
    opacity: 1;
}

h1.title,
p.sub-title {
    text-transform: uppercase;
    margin: 0;
}

h1.title a{
    color: #e9a85d;
    text-decoration: none;
    text-align: center;
    width: 600px;
    border-bottom: 5px solid #A9B4C2;
}

p.sub-title{
    letter-spacing: 5px;
    font-size: 10px;
    font-weight: 700;
    color: #4b515c;
    margin: 0;
    margin-top: 5px;
    border-top: 5px solid #e9a85d;
    padding: 0;
    padding-top: 5px;
}

.photo-box-title,
.section-title,
.box-sub-title{
    display: inline-block;
    margin: 10px auto 20px auto;
    letter-spacing: 10px;
    font-size: 18px;
    font-family:cursive;
    font-weight: 500;
    text-transform: uppercase; 
}

a.nav-link,
a.footer-nav-link{
   color: #5E6572;
    padding:25px 20px;
    text-decoration: none;
    transition: 0.2s;
}


a.nav-link:hover,
a.footer-nav-link:hover,
.title a:hover{
    transform:scale(1.5) ;
    color: #eae9f2 ;
}

.title a:hover{
    
}

h1 a{
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 15px;
    font-family: cursive;
}

a.nav-link:hover,
a.footer-nav-link:hover{
    transform:scale(1.5) ;
    color: #e9a85d ;
    font-weight: 400;
}


nav.nav{
    display:flex;
    margin: 0 50px;
    justify-content: space-around;
    min-width: 700px;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 15px;
}

.nav-item{
    display: block;
    padding: 2px 20px;
    text-align: center;
}

nav.footer-nav{
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 370px;
}

.footer-nav-item{
    display: block;
    padding: 1px 10px;
    width: 100px;
    margin: 10px;
    text-align: center; 
}

.contacts-list{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

ul.contacts-list{
    padding: 0;
}

.contacts-container{
    padding: 10px 50px;
}

.contacts-list a{
    display: block;
    transition: all 0.5s;
    padding: 0;
}

.contacts-list svg{
    transform: scale(2.5);
    color:#eae9f2 ;
    transition: 0.5s;
}

.contacts-list a:hover{
    transform: scale(1.5)  rotate(360deg);
}

.contacts-list a:hover svg{
    color: #e9a85d;
}

form.sign-up{
    display: flex;
    justify-content: space-around;
    padding: 5px 30px ;
}

.sign-up input{
    width: 150px;
    border: none;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sign-up input[type="text"]{
    color: #A9B4C2 ;
    height: 80%;
    border-radius: 5px 5px 5px 5px/5px 5px 5px 5px;
    margin-top: 5px;
}

.sign-up input[type="submit"]{
    background-color:#e9a85d;
    color:#eae9f2 ;
    text-transform: uppercase;
    transition:all 0.5s;
    border-radius: 40px 40px 40px 40px/40px 40px 40px 40px;
}

.sign-up input:hover[type="submit"]{
    transform: scale(1.1);
    width: 150px;
    padding-left: 10px;
    letter-spacing: 5px;
}
    

img.photo{
    position: relative;
   display: inline-block;
   margin: 15px 10px;
   max-width: 450px;
   box-shadow: 0 0 10px #5E6572;     
}

.photo-box a,
.photo-box-title a,
a.box-sub-title{
    color: #eae9f2;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    margin: 20px auto 40px auto;
}

a.box-sub-title{
    color:#eae9f2 ;
}

.photo-box a:hover,
.photo-box-title a:hover,
a:hover.box-sub-title{
    color: #e9a85d;
}

.photo-box {
    min-width:600px ;
    display: block;
    background-color: #eae9f2;
    padding: 15px 10px;
}

.video-item{
    margin: 50px;
}

.footer-contacts-container{
    display: flex;
    flex-direction: column;
}

.search-container{
    display: block;
    max-height: 80px;
    margin: 10px 0;
    text-align: center;
}

.hidden {
    display: none;
}

.up-button {
    position: fixed;
    z-index: 10;
    padding: 0;
    bottom: 75px;
    right: 140px;
    width: 50px;
    height: 50px;
    font-size: 36px;
    font-weight: 1200;
    text-align: center;
    vertical-align: middle;
    border: none;
    background-color: transparent;
    display: none;
    cursor: pointer;
    transform: rotate(-90deg);
    fill: #1C2321;
} 

.shown {
    display: inline-block;
  }

  .reg-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px 200px 10px 0;
    padding: 10px;
    padding-top: 0;
    max-height: 160px;
  }
  
  .reg-label {
    z-index: 1;
    margin-right: auto;
 
    margin-left: -6px;
    padding: 2px 6px;
    font-size: 12px;

  }
  
  .reg-name,
  .password {
    width: 100%;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 0 10px;
    background-color: transparent;
    font: inherit;
    font-size: 14px;
    line-height: 25px;
    outline-offset: 0;
    border: 1px solid;
  }
  
  .password {
    padding-bottom: 4px;
  }
  
  .reg-name::placeholder,
  .password::placeholder {
    color: #eae9f2 ;
    font: inherit;
    font-size: 14px;
    font-style: italic;
  }
  
  .reg-name:focus::placeholder,
  .password:focus::placeholder {
    font-size: 0;
  }
  
  .reg-name:hover::placeholder,
  .name:active::placeholder,
  .password:hover::placeholder,
  .password:active::placeholder {
    opacity: 0.5;
  }
  
  .checkbox-label {
    position: relative;
    margin: 15px auto 16px 10px;
    padding: 4px 24px;
  }
  
  .checkbox-label::before {
    position: absolute;
    content: "";
    flex-shrink: 0;
    top: 3px;
    left: 0;
    width: 14px;
    height: 14px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2px;
    border: 1px solid;
  }
  
  .show-password:focus + .checkbox-label::before {
    outline: auto;
    outline-width: 4px;
  }
  
  .checkbox-label:active::before {
    opacity: 0.6;
  }
  
  .reg-form .button {
    margin:10px auto;
    border: none; 
    background-color:#e9a85d;
    color:#eae9f2 ;
    transition:all 0.5s;
    padding: 5px 15px;
    border-radius: 40px 40px 40px 40px/40px 40px 40px 40px;
  }
  
  .security {
    position: relative;
    margin: -14px 1px 8px;
    width: calc(100% - 2px);
    overflow: hidden;
    background-color: #eae9f2;
  }
  
  .security::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    top: 0;
    left: 50%;
    background-color:#eae9f2 ;
  }
  
  .security::after {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    top: 0;
    left: 90%;
    background-color:#eae9f2 ;
  }
  
  .security-bar {
    height: 4px;
    width: 0;
    background-color: #A9B4C2;
  }
  

.heart .likes-number {
    margin-left: 24px;
    line-height: 14px;
  }

   .heart {
    position: absolute;
    left:100px;
    color: #000203;
    background-image: url("img\heart.svg");
    opacity: 0.7;
  }
  
 .heart.added {
    background-image: url("img\heart-fill.svg");
  }
  
 .heart:focus,
 .heart:hover {
    opacity: 1;
  }
  
 .heart:focus {
    outline-color: #A9B4C2;
  }
  
 .heart:active {
    opacity: 1;
    background-image: url("img\heart-fill.svg");
  }

  .travel{
      position: relative;

  }

  .image-container{
      position: absolute;
      top: -350px;
      left: 350px;
  }


  .plane{
    animation-name: plane;
    animation-duration: 3s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}


@keyframes plane{
    0%{
        transform: translate(-700px,50px) scale(0.01);
    }
    5%{
        transform: translate(-660px,45px) scale(0.015);
    }
    10%{
        transform: translate(-620px,40px) scale(0.02);
    }
    15%{
        transform: translate(-580px,35px) scale(0.025);
    }
    20%{
        transform: translate(-540px,30px) scale(0.03);
    }
    25%{
        transform: translate(-500px,25px) scale(0.035);
    }
    30%{
        transform: translate(-460px,20px) scale(0.04);
    }
    35%{
        transform: translate(-420px,15px) scale(0.045);
    }
    40%{
        transform: translate(-380px,10px) scale(0.05);
    }
    45%{
        transform: translate(-340px,5px) scale(0.055);
    }
    50%{
        transform: translate(-300px,0) scale(0.06);
    }
    55%{
        transform: translate(-260px,-5px) scale(0.065);
    }
    60%{
        transform: translate(-220px,-10px) scale(0.07);
    }
    65%{
        transform: translate(-180px,-15px) scale(0.075);
    }
    70%{
        transform: translate(-140px,-20px) scale(0.08);
    }
    75%{
        transform: translate(-100px,-25px) scale(0.085);
    }
    80%{
        transform: translate(-60px,-30px) scale(0.09);
    }
    85%{
        transform: translate(-20px,-35px) scale(0.095);
    }
    90%{
        transform: translate(20px,-40px) scale(0.1);
    }
    95%{
        transform: translate(60px,-45px) scale(0.105);
    }
    100%{
        transform: translate(100px,-50px) scale(0.11);
    }
}
